/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter var', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .h-header-offset {
    height: calc(100% - 3rem);
  }

  .scroll-hidden {
    -ms-overflow-style: none !important;

    scrollbar-width: none !important;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none !important;
  }

  .inset-0-safe {
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

input[type='range'] {
  -webkit-appearance: none;

  @apply h-1 bg-transparent;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply h-2 w-2 rounded-full bg-white;
  box-shadow: 0 0 2px 0 #121212;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
